@tailwind base;
@tailwind components;
@tailwind utilities;


.scale-animation {
    animation: scale-animation infinite alternate 180s ease-in-out;
}

@keyframes scale-animation {
    
    from {
        transform: scale(2);
    }

    to {
        transform: scale(1);
    }

}